
layout {
    // Note that max_panes also count the 
    // ones that are inside of this. So, in that case,
    // you have to bump up the amount of max_panes by the amount here.
    tab_template name="ui" {
       pane size=1 borderless=true {
           plugin location="zellij:compact-bar"
       }

       children; 
    }

    swap_tiled_layout {
        ui min_panes=5 {
             pane split_direction="vertical" {
                pane split_direction="horizontal" size="70%" {
                    pane split_direction="vertical" {
                        pane
                        pane
                    }
                    pane cwd="build" name="build" {
                        size 10
                    }
                }
                pane stacked=true {
                    children
                }
             }
        }
    }

    ui {
        pane split_direction="vertical" {
                pane split_direction="horizontal" size="70%" {
                    pane split_direction="vertical" {
                        pane
                    }
                    pane cwd="build" name="build" {
                        size 10
                    }
                }
                pane stacked=true {
                    pane command="gitui"

                }
        }
    }
}

