@import "./base16.rasi"

* {
    theme-border-color: @foreground;
    theme-border-radius: 10px;
    theme-border: 1px;
}

window {
    border: @theme-border;
    border-radius: @theme-border-radius;
    border-color:  @theme-border-color;
}

element {
  border: @theme-border;
  border-color: @theme-border-color;
  border-radius: @theme-border-radius;
}
    
