@mixin events {
    label {
        font-size: 1.1em;
    }

    .title-box {
        padding: $spacing;
        border-bottom: 1px solid transparentize($base04, 0.9);

        label {
            font-size: 1.1em;
        }
    }

    .events-box {
        padding: $spacing;
    }

    .event {
        .deadline {
            color: transparentize($base04, 0.5);
            font-family: $mono_font;
        }

        &.done {
            label {
                text-decoration: line-through
            }

            ;

            .title {
                color: $base0B
            }

            .deadline {
                color: transparentize($base0B , 0.5)
            }
        }

        &.upcoming {
            .title {
                color: $base08
            }

            .deadline {
                color: transparentize($base08 , 0.5)
            }
        }
    }
}